* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.contacto {
  display: flex;
  align-items: center;
  margin: 10px;
}

.contacto img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contactos-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.paginacion button {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .contactos-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
}
